:root {
  --dark: #333;
  --dark__lighter: #444;
  --border-gray: #aaa;
  --code-bg: #efefef;
  --code-bg__lighter: #f0f0f0;
  --link-blue: #3182bd;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow: auto;
}

html {
  font-family: 'Source Serif Pro', serif;
  font-size: 14px;
  color: var(--dark);
}

.katex {
  font-size: 1.1em !important;
}

main {
  max-width: 45em;
  margin: 6em auto;
}

section.note-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--dark);
}

h2 {
  font-size: 1.5em;
  margin: 0.25em 0;
}

p {
  margin: 1em 0;
  line-height: 1.3;
}

code {
  font-family: 'Fira Mono', monospace;
  font-size: 0.9em;
}

code.inline {
  background-color: var(--code-bg);
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

pre {
  background-color: var(--code-bg);
  padding: 0.5em;
  margin: 1.5em -0.5em;
}

blockquote {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  border-left: 4px solid var(--dark__lighter);
  color: var(--dark__lighter);
  font-size: 13px;
}

blockquote pre {
  background-color: var(--code-bg__lighter);
}

ul,
ol {
  padding: 0;
  padding-left: 2em;
  margin: 1em 0;
}

a {
  color: var(--link-blue);
  text-decoration: unset;
  cursor: pointer;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

figure {
  margin: 2em 0;
}

figcaption {
  font-size: 0.9em;
  margin: 1em 2em 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Subsection links */

.subsection-link {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: -16px;
}

.subsection-link a {
  visibility: hidden;
  font-size: 1.5em;
  width: 12px;
}

.subsection-link a:hover {
  text-decoration: none;
}

.subsection-link:hover a {
  visibility: unset;
}
